.character {
  width: 200px;
  height: 200px;
  background-color: #fff;
  transition: all 0.3s;
  text-align: center;
  &.active {
    width: 230px;
    height: 230px;
    box-shadow: 0 0 20px 5px rgba(#000,.5);
  }
}